<div class="page-wrapper">
  <div class="color-fbfbfb clearfix">
    <div class="second-subbody white-color">
      <div class="first-div-border">
        <%= @post.body.html_safe %>
      </div>
    </div>

    <div class="first-subbody color-fbfbfb second-div-border">
      <div class="second-left-right-padding">
        <div class="blog-page-mark">
          <img src="/assets/blog-page-mark.png" class="style_image"  width=100%/>
        </div>

        <% @posts.each do |post| %>
            <div>
              <div class="neutralstd-medium-20 padding-line-50">
                <%= link_to post.title, refinery.blog_post_path(post), class: 'x-silo'%>
              </div>

              <div class="neutralstd-regular-15 padding-line-20">
                <%= post.created_at.strftime("%d.%m.%Y") %>
              </div>
            </div>
        <% end %>


        <div class="blog-search padding-line-50 clearfix">
          <%= form_tag refinery.blog_root_path, :method => :get do %>
              <div class="blog-spyglass">
                <%= submit_tag "", class: "blog-submit-search" %>
              </div>
              <div class="blog-div-searchtext">
                <%= text_field_tag 'title', @title, class: 'blog-searchtext', placeholder: 'Search Blogs' %>
              </div>
          <% end %>
        </div>
        <hr class="hrline-7d7d7d" >
      </div>
    </div>

  </div>
</div>