<!--<h1 id='logo'>-->
  <!--<%= link_to Refinery::Core.site_name, refinery.root_path %>-->
<!--</h1>-->

<div class="navbar-wrapper">

  <div id="navbar" class="">
    <div class="nav-gutter">
      <div class="nav-expand-button"><%= image_tag 'icon-menu.png' %>
      </div>
      <div class="nav-mark-left">Feral</div>
    </div>
    <div class="nav-main">
      <ul class="nav-links">
        <li class="li-alignment">
          <%= link_to 'Index', "/", class: "x-silo"%>
        </li>
        <li class="li-alignment">
          <%= link_to 'Work', "/work", class: "x-silo"%>
        </li>
        <li class="li-alignment">
          <%= link_to 'Blog', "/blog", class: "x-silo"%>
        </li>
        <li class="li-alignment">
          <%= link_to 'Process', "/process", class: "x-silo"%>
        </li>
        <li class="li-alignment">
          <%= link_to 'Studio', "/studio", class: "x-silo"%>
        </li>

        <li class="li-alignment"><hr></li>
        <li class="li-alignment">
          <%= link_to 'Shop', "/shop", class: "x-silo"%>
        </li>
      </ul>

      <div class="nav-mark-top">Feral</div>

      <div class="nav-behance">
        <%= image_tag 'Be.png' %>
      </div>
    </div>
  </div>
</div>








