<!--<h1 id='logo'>-->
  <!--<%= link_to Refinery::Core.site_name, refinery.root_path %>-->
<!--</h1>-->

<div class="navbar-wrapper">

  <div id="navbar" class="">
    <div class="nav-gutter">
      <div class="nav-expand-button"><%= image_tag 'icon-menu.png' %>
      </div>
      <div class="nav-mark" style ="width : 80%; text-align: center;">
        <%= image_tag 'mark-menu.png', :class => "style_mark_image"%>
      </div>
    </div>
    <div class="nav-main">
      <ul class="nav-links">
        <li class="li-alignment">
          <%= link_to 'Index', "/"%>
        </li>
        <li class="li-alignment">
          <%= link_to 'Work', "/work"%>
        </li>
        <li class="li-alignment">
          <%= link_to 'Blog', "/blog"%>
        </li>
        <li class="li-alignment">
          <%= link_to 'Process', "/process"%>
        </li>
        <li class="li-alignment">
          <%= link_to 'Studio', "/studio"%>
        </li>

        <li class="li-alignment"><hr></li>
        <li class="li-alignment">
          <%= link_to 'Shop', "/shop"%>
        </li>
      </ul>

    </div>
  </div>
</div>








